<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Events <%= link_to show_icon_with_text("fa-plus","Add Event"), new_event_path, :class => "btn btn-default rightFloat" %></h4>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @events.each do |event|  %>
              <tr>
                <td><%= event.title.camelize unless event.title.blank?%></td>
                <td><%= event.start_date.strftime("%d %b %Y @ %I:%M %p") unless event.start_date.blank?%></td>
                <td><%= event.end_date.strftime("%d %b %Y @ %I:%M %p") unless event.end_date.blank? %></td>
                <td>
                    <%= link_to show_icon("fa-edit"), edit_event_path(event), :title => "Edit"  %>
                    <%= link_to show_icon("fa-remove"), event_path(event),
                      :data => {:confirm => "Are you sure?", :method => :delete}, :title => "Delete Event"  %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>