<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>Church - Admin</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet" media="screen">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet"  media="screen">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= pages_path %>">Admin</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="<%= root_path %>"><%= show_icon_with_text("fa-desktop", "Site") %></a>
          </li>
          <li>
            <a href="<%= pages_path %>"><%= show_icon_with_text("fa-tasks", "Pages") %></a>
          </li>
          <li>
            <a href="<%= pages_path %>"><%= show_icon_with_text("fa-cog", "Settings") %></a>
          </li>
          <li>
            <a href="<%= list_albums_path %>"><%= show_icon_with_text("fa-photo", "Gallery") %></a>
          </li>
          <li>
            <a href="<%= list_events_path %>"><%= show_icon_with_text("fa-calendar", "Events") %></a>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to show_icon_with_text("fa-sign-out", "Signout"), destroy_user_session_path%>
          </li>
          <% else %>
          <li>
            <%= link_to show_icon_with_text("fa-user-plus", "Sign up"), new_user_registration_path %>
          </li>
          <li>
            <%= link_to show_icon_with_text("fa-sign-in", "Sign In"), new_user_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container marginTop30">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <!-- Content Row -->
    <div class="row">
      <!-- Content Column -->
      <%= yield %>
    </div>
    <!-- /.row -->

    <hr>
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Developed By <%= link_to "TechHoppers IT Solutions LLP", "http://www.techhoppers.com", :target => "_blank" %></p>
      </div>
    </div>
  </footer>
</body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<%= javascript_include_tag 'application' %>
</html>
